/Client/.vscode
.DS_Store
.DS_Store?
/Client/Library
/Client/Logs
/Client/Temp
/Client/1-week-classroom.sln
/Client/Assembly-CSharp-Editor.csproj
/Client/Assembly-CSharp.csproj
/Client/Client.sln
/Client/package-lock.json
